<div class="container">
    <div class="row less-transparent margin-bottom-0 margin-top-50">
        <div class="col-md-12 text-center cust-satisfaction">
            &nbsp;
        </div><!-- /.col-md-12 -->
    </div>    <div class="row less-transparent margin-bottom-0 testimonials">
        <div class="col-md-3 text-center cust-satisfaction">
            @*<img src="@Url.Content("~/images/overene-zakaznikmi.png")" alt="Overené zákazníkmi" />*@
        </div><!-- /.col-md-12 -->
        @*<div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">????<br />????</a></cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="row less-transparent margin-bottom-0 testimonials">
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />????</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>
                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">????<br />???</a></cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="row less-transparent margin-bottom-0 testimonials">
        <div class="col-md-3">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>
        <div class="col-md-9">
            <blockquote>

                <footer><cite title="Source Title"><a href="https://www.facebook.com/pg/pgsoftweb/reviews" target="_blank">???<br />???</a></cite></footer>
            </blockquote>
        </div>*@
    </div>
</div>
