<div class="container">
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-8">
            <h2>Získajte nové webové stránky</h2>
            <p class="normal">
                Objednajte si u nás <strong>nový moderný web</strong> presne podľa vašich predstáv.
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            <p class="normal margin-top-30">
            </p>
        </div><!-- /.col-md-4 -->
    </div>
</div>
