@{
    ViewBag.Title = "Ochrana osobných údajov";
    ViewBag.Description = "ZÁSADY SPRACÚVANIA OSOBNÝCH ÚDAJOV. Ochranu osobných údajov berieme vážne. Je pre nás dôležité, aby vaše osobné údaje boli v bezpečí.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

<h1>ZÁSADY SPRACÚVANIA OSOBNÝCH ÚDAJOV</h1>
