    .se-form-pgsoftweb {
        position: relative;
    }
    .se-form-pgsoftweb form {
        background-color: transparent !important;
        width: 100% !important;
    }
    .se-form-pgsoftweb input[type=text] {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 50% !important;
        border-radius: 0 !important;
        font-weight: normal !important;
        padding: 6px 12px !important;
        border-color: #a9a9a9 !important;
        border-right-color: #bcac01;
    }
    .se-form-pgsoftweb input[type=text]::-webkit-input-placeholder {
    color: #ccc !important;
    }
 
    .se-form-pgsoftweb input[type=text]:-moz-placeholder { /* Firefox 18- */
    color: #ccc !important;  
    }
 
    .se-form-pgsoftweb input[type=text]::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc !important;  
    }
 
    .se-form-pgsoftweb input[type=text]:-ms-input-placeholder {  
    color: #ccc !important;  
}
    .se-form-pgsoftweb .btn {
        position: absolute !important;
        top: 0 !important;
        left: 50% !important;
        border-radius: 0 !important;
    }
    .se-form-pgsoftweb .se-submit {
        display: none !important;
    }
