<div class="row cta-contact-us">
    <div class="col-md-12">
        <p>
            Aj vy môžete mať pekný responzívny web, mikrostránku, blog, či eshop na mieru.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Contact", "HomeSk")" hreflang="sk" role="button">Kontaktujte nás &raquo;</a>
        </p>
    </div><!-- /.col-md-4 -->
</div>
