@model www.pgsoftweb.sk_2023.Models.Request.RegisterMailModel_Sk

<div class="container">
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-12">
            <h2>Chcete web stránky, ktoré vám budú zarábať?</h2>
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-6">
            <p class="normal">
                Zadajte svoj e-mail a získajte <strong>ihneď zdarma e-book</strong> a pravidelný newsletter, ktorý vám poradí, čo robiť, aby váš web zarábal.
            </p>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
            <!--@Html.Partial("_SeFormWebThatSales")-->
        </div><!-- /.col-md-6 -->
    </div>
</div>
