@{
    ViewBag.Title = "Odoslanie správy";
    ViewBag.Description = "Sme radi, že ste nás kontaktovali.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Odoslanie správy</h1>
                <p>Vaša správa bola úspešne odoslaná.</p>
                <p class="normal">
                    Ďakujeme, že ste nás kontaktovali. Ozveme sa čoskoro. Kópia správy bola odoslaná aj na vami zadanú e-mailovú adresu.
                </p>
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>

@*<hr />
<div>
    @Html.Partial("_RegisterMail_PerfectWeb")
</div>*@
