<div class="container">
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-12">
            <h2>Your new website</h2>
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row less-transparent margin-bottom-0">
        <div class="col-md-8">
            <p class="normal">
                We delivere a new website every month.
                We create a wide range of websites and web projects.
                Get <strong>a new modern website</strong> according to your thoughts.
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            <p class="normal">
                @*<a class="btn btn-primary btn-lg" href="@Url.Action("Web_Projects", "Home")" hreflang="en" role="button">Look at websites we have delivered &raquo;</a>*@
            </p>
        </div><!-- /.col-md-4 -->
    </div>
</div>
