@{
    ViewBag.Title = "Message sent";
    ViewBag.Description = "Thank you for contacting us.";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Message sent</h1>
                <p>Your message has been successfully sent.</p>
                <p class="normal">
                    Thank you for contacting us. We will contact you soon. Message copy has been sent also to your e-mail address.
                </p>
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>
