@{
    ViewBag.Title = "Website design, software development";
    ViewBag.Description = "Development of modern and reliable applications delivered on time.  Websites, mobile applications and Windows programs.";
}

<!-- start social profiles (https://developers.google.com/structured-data/customize/social-profiles) -->
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "Organization",
    "name" : "GLOZIKSOFT, s.r.o.",
    "url" : "http://www.gloziksoft.sk",
    "logo": "http://www.gloziksoft.sk/images/gloziksoft_logo.png",
    "sameAs" : [
    "https://www.facebook.com/gloziksoft",
    "https://twitter.com/gloziksoft",
    "https://plus.google.com/+Gloziksoft",
    "https://www.youtube.com/c/gloziksoft"
    ]
    }
</script>
<!-- end social profiles -->

<div class="background-img-1">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Websites development</h1>
                    <p></p>
                    <p class="normal">
 
                    </p>
                    @Html.Partial("_SlideVideo")
                </div><!-- /.col-md-12 -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Web Design</h2>
                <p>Our team creates visually appealing and user-friendly websites tailored to your business needs. We focus on modern design trends and ensure a seamless user experience.</p>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Software Development</h2>
                <p>We develop reliable and efficient software solutions for various platforms, ensuring your business stays ahead. Our expertise spans web applications, mobile apps, and desktop programs.</p>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Custom Solutions</h2>
                <p>Need a specialized solution? We offer custom software development to address unique business challenges. Our team will work closely with you to understand your requirements and deliver tailored solutions.</p>
            </div><!-- /.col-md-4 -->
        </div>
    </div>
</div>


