@{
    ViewBag.Title = "Price";
    ViewBag.Description = "Modern, reliable and easy to use programs and applications for best price..";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="pull-right">
                    @*<img src="@Url.Content("~/images/coins-euro.png")" title="Reliable applications for best price" />*@
                </span>
                <h1>The best price guaranteed</h1>
                <p>Get cool and easy to use applications for best price.</p>
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>The best price</h2>
            <p>
                Minimal directional expenses, long-term experience, flexibility and continuous education guarantee the best price for you.
            </p>
            <p>
                Agreed price, time of delivery and cool applications are guaranteed.
            </p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Minimal expenses</h2>
            <p>
                Using home office, no external offices, cars or any other needless property.
            </p>
            <p>
                You don't pay any administration, account managers, project managers or any other managers.
            </p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Agile developing team</h2>
            <p>
                We are keen on IT. Quick and quality development. Searching instantly for new information, trends and technologies.
            </p>
            <p>
                Working in small groups connected virtually via internet.
            </p>
        </div><!-- /.col-md-4 -->
    </div>
</div>


