@{
    ViewBag.Title = "Oops HTTP404";
    ViewBag.Description = "Hľadaná webová stránka neexistuje.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Niečo nie je v poriadku</h1>
            <hr />
            <p>
                Mrzí nás to, ale niečo nie je v poriadku.
                Pokúšate sa zobraziť webovú stránku, ktorá na našom webe neexistuje.
            </p>
            <p>
                Ak si myslíte, že by daná stránka na našom webe mala byť, kontaktujte nás prosím.
            </p>
            <p>
                Ďakujeme za pochopenie.
            </p>
            <hr />
            <p>
                Admin info: HTTP404
            </p>
        </div><!-- /.col-md-12 -->
    </div>
</div>
