@{
    ViewBag.Title = "Oops HTTP500";
    ViewBag.Description = "Na web stránke niečo nie je v poriadku.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Niečo nie je v poriadku</h1>
            <hr />
            <p>
                Mrzí nás to, ale niečo nie je v poriadku.
                Pri spracovaní webovej stránky, ktorú ste sa pokúšali na našom webe navštíviť, niečo zlyhalo.
            </p>
            <p>
                Skúste rovnakú akciu zopakovať ešte raz. Ak sa to nezlepší, kontaktujte nás prosím.
            </p>
            <p>
                Ďakujeme za pochopenie.
            </p>
            <hr />
            <p>
                Admin info: HTTP500
            </p>
        </div><!-- /.col-md-12 -->
    </div>
</div>
